<h1><%= @client.name %></h1>
<ul>
  <% @client.spots.each do |spot| %>
  <li><%= spot.video_url %></li>
  <% end %>
</ul>
<%= link_to "Clients", clients_url %>
<%= link_to "Edit", edit_client_url(@client) %>
<%= link_to "New Spot", new_client_spot_url(@client) %>
